@page "/"
@using CalculosBasicos.Shared.Utils
@using CalculosBasicos.Shared.Enums
@using CalculosBasicos.Client.Shared.Inputs
@using CalculosBasicos.Client.Shared.Messages

<PageTitle>Operaciones</PageTitle>

<h1 class="mt-1 mb-3">Operaciones</h1>
 
<div class="row">
   
    <div class="col-8 mt-3 row">
       <div class="col-sm-12 mt-3">
            
            <NumberInput 
                Id="@Field1" 
                Label="Ingresa el valor 1" 
                FieldValue="@Field1" 
                OnKeyUpCallback="SetValue1" /> 
                     
            <NumberInput 
                Id="@Field2" 
                Label="Ingresa el valor 2" 
                FieldValue="@Field2" 
                OnKeyUpCallback="SetValue2" /> 
            
       </div>

       <Messages Level="LevelMessage.Success" Message="@Message" />  
       <Messages Level="LevelMessage.Error" Message="@Errors" /> 
        
    </div>

    <div class="col-sm-3 ">
         <button type="button" class="btn btn-primary form-control mt-3" @onclick="( () => SendRequestOperation(Operacion.SUMA) )">Suma</button>
         <button type="button" class="btn btn-primary form-control mt-3" @onclick="( () => SendRequestOperation(Operacion.RESTA) )">Resta</button>
         <button type="button" class="btn btn-primary form-control mt-3" @onclick="( () => SendRequestOperation(Operacion.MULTIPLICACION) )">Multiplicación</button>
         <button type="button" class="btn btn-primary form-control mt-3" @onclick="( () => SendRequestOperation(Operacion.DIVISION) )">División</button>
         <button type="button" class="btn btn-primary form-control mt-3" @onclick="( () => SendRequestOperation(Operacion.FACTORIAL) )">Factorial</button>
     </div>
     
</div>

